body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    padding: 16px 15vw;
    font-weight: bold;
}
.one {
    display: flex;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 32px 15vw;
}

.one img {
    max-width: 50%;
    height: auto;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: center;
}
.one div {
    display: flex;
    flex-direction: column;
    padding-right: 48px;
}
h1 {
    font-size: 48px;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

button {
    width: 112px;
    height: 32px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
}

.hero-button {
    border-style: none;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    vertical-align: center;
    font-weight:normal;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    max-width: 70vw;
}

.items div {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    align-items: center;
    text-align: center;
    color: #1f2937;
}

.info-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

.text {
    padding-top: 12px;
}
  
.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    width: 100%;
    margin: 32px 0;
}

.three {
    display: flex;
    padding: 240px;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    max-width: 750px;

}

.signature {
    text-align: right;
    padding-right: 48px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    width: 70vw;
    padding: 48px 0;
    border-radius: 12px;
    justify-content: space-evenly;
    align-items: center;
    margin: 120px;
}

.container div p{
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.action-button {
    border: #f9faf8 solid;
}

.footer {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}