body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    padding: 0 128px;
}
.one {
    display: flex;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 0 128px;
    flex: 1;
}
h1 {
    font-size: 48px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    vertical-align: center;
}